In [4]:
import os
import pandas as pd

In [5]:
combined_forcing_dir = "C:\\Users\\ssheeder\\Repos\\pymarrmot\\forcing\\pymarrmot\\combined_forcing"
output_dir = "C:\\Users\\ssheeder\\Repos\\pymarrmot\\forcing\\pymarrmot\\combined_forcing\\12_year"

target_date = pd.to_datetime('2010-01-01')

In [6]:
#for each parquet file in the pymarrmot/combined_forcing directory, open file and remove rows prior to 2010-01-01
forcing_files = os.listdir(combined_forcing_dir)
for file in forcing_files:
    if file.endswith('.parquet'):
        df = pd.read_parquet(os.path.join(combined_forcing_dir, file))
        df_trimmed = df[df['value_time'] >= target_date]
        df_trimmed.to_parquet(os.path.join(output_dir, file))

In [10]:
#open a file and take a look
df_example = pd.read_parquet(os.path.join(output_dir, "usgsbasin-02111000_combined.parquet"))

In [12]:
df_example.head()

                value_time  precip_mm    temp_c  pet_mm  discharge_mm
262992 2010-01-01 00:00:00        0.0  2.767181     0.0       0.10727
262993 2010-01-01 01:00:00        0.0  2.280853     0.0       0.10727
262994 2010-01-01 02:00:00        0.0  1.779694     0.0       0.10727
262995 2010-01-01 03:00:00        0.0  1.288269     0.0       0.10727
262996 2010-01-01 04:00:00        0.0  1.271027     0.0       0.10727