In [1]:
# required imports
import os
import pandas as pd

# file to process USGS observation data for use in PyMARRMoT
usgs_data = "C:\\Data\\usgs_obs.parquet"
usgs_area = "C:\\Data\\usgs_basin_attr_drainage_area.all.parquet"

In [3]:
# ----------------------------USGS Data Processing----------------------------
df_basin_area = pd.read_parquet(usgs_area)
df_basin_area.head()

     location_id attribute_name  attribute_value attribute_unit
0  usgs-01010000  drainage_area           3473.2            km2
1  usgs-01010070  drainage_area            442.9            km2
2  usgs-01010500  drainage_area           6941.2            km2
3  usgs-01011000  drainage_area           3828.0            km2
4  usgs-01011500  drainage_area           1357.2            km2

In [4]:
df_usgs_data = pd.read_parquet(usgs_data)
df_usgs_data.head()

,reference_time,value_time,value,unit_name,location_id,configuration_name,variable_name
0,NaT,2023-01-01 00:00:00,0.247772,m^3/s,usgs-08165300,usgs_observations,streamflow_hourly_inst
1,NaT,2023-01-01 01:00:00,0.247772,m^3/s,usgs-08165300,usgs_observations,streamflow_hourly_inst
2,NaT,2023-01-01 02:00:00,0.247772,m^3/s,usgs-08165300,usgs_observations,streamflow_hourly_inst
3,NaT,2023-01-01 03:00:00,0.247772,m^3/s,usgs-08165300,usgs_observations,streamflow_hourly_inst
4,NaT,2023-01-01 04:00:00,0.247772,m^3/s,usgs-08165300,usgs_observations,streamflow_hourly_inst

In [6]:
unique_locations = df_usgs_data['location_id'].unique()
unique_locations

array(['usgs-08165300', 'usgs-08165500', 'usgs-08166000', 'usgs-08166140',
       'usgs-08166200', 'usgs-08166250', 'usgs-08167000', 'usgs-02111000',
       'usgs-02111180', 'usgs-02111500', 'usgs-02137727', 'usgs-02138500',
       'usgs-02140991', 'usgs-02149000', 'usgs-02177000', 'usgs-02178400',
       'usgs-03439000', 'usgs-03441000', 'usgs-03446000',
       'usgs-0344894205', 'usgs-03450000', 'usgs-03451000',
       'usgs-03453000', 'usgs-03455500', 'usgs-03456100', 'usgs-03456500',
       'usgs-03460000', 'usgs-03463300', 'usgs-03479000', 'usgs-03500000',
       'usgs-03500240', 'usgs-03504000', 'usgs-02162350'], dtype=object)

In [ ]:
from dataretrieval import nwis as nwis
results = pd.DataFrame()
for id in unique_locations:
    station_id = id[5:]
    site_info = nwis.get_record(sites=station_id, service='site')
    results = pd.concat([site_info, results], ignore_index=True)

results.head()

,agency_cd,site_no,station_nm,site_tp_cd,lat_va,long_va,dec_lat_va,dec_long_va,coord_meth_cd,coord_acy_cd,...,reliability_cd,gw_file_cd,nat_aqfr_cd,aqfr_cd,aqfr_type_cd,well_depth_va,hole_depth_va,depth_src_cd,project_no,geometry
0,USGS,02162350,"MIDDLE SALUDA RIVER NEAR CLEVELAND, SC",ST,350712.0,823216.0,35.120117,-82.537623,M,U,...,NaN,NNNNNNNN,NaN,NaN,NaN,NaN,NaN,NaN,454500100,POINT (-82.53762 35.12012)
1,USGS,03504000,"NANTAHALA RIVER NEAR RAINBOW SPRINGS, NC",ST,350739.0,833707.0,35.127500,-83.618611,G,S,...,NaN,NYNNNNNN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-83.61861 35.1275)
2,USGS,03500240,"CARTOOGECHAYE CREEK NEAR FRANKLIN, NC",ST,350932.0,832339.0,35.158889,-83.394167,G,S,...,NaN,NYNNNNNN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-83.39417 35.15889)
3,USGS,03500000,"LITTLE TENNESSEE RIVER NEAR PRENTISS, NC",ST,350900.0,832247.0,35.150000,-83.379722,G,S,...,NaN,NYNNNNNN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-83.37972 35.15)
4,USGS,03479000,"WATAUGA RIVER NEAR SUGAR GROVE, NC",ST,361421.0,814920.0,36.239167,-81.822222,G,S,...,NaN,NYNNNNNN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-81.82222 36.23917)

In [15]:
results.to_csv('usgs_station_summary')